// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.rq_content {
  padding: @component-padding;
  width: 100%;
}

.rq_header {
  background-color: @panel-heading-background-color;
  border: 1px solid @panel-heading-border-color;
  overflow: auto;
}

.rq_btn-nav {
  border: 0;
  background-color: @button-background-color;
  padding: @component-padding;
  float: left;
  font-size: 1.5em;
}

.rq_btn-nav:hover {
  background-color: @button-background-color-hover;
}

.rq_back {
  border-left: 5px solid @background-color-info;
}

.rq_page-title {
  background-color: @background-color-info;

  #text {
    color: @text-color-highlight;
    margin: 0;
    padding: @component-padding;
    text-align: center;
  }
}
