// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.rq_content {
  padding: @component-padding;
  width: 100%;
}

.rq_header {
  background-color: @panel-heading-background-color;
  border-bottom: 1px solid @panel-heading-border-color;
  overflow: auto;
  font-size: 1.5em;
}

.rq_crumb {
  background-color: @button-background-color;
  padding: 0px 5px;
  float: left;
  border-right: 1px solid @button-border-color;
}
